<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TERMINAL</title>
</head>
<body>
    <div class="hero">
        <h1 style="color: #00f2ff;">DUCK HUNTER AI</h1>
        <p style="color: #888;">USE YOUR HANDS TO HUNT</p>
        <div style="margin-top: 30px;">
            <a href="/game" class="btn">START_GAME</a>
            <a href="/login" class="btn" style="margin-left: 10px;">AUTH_LOGIN</a>
        </div>
    </div>
</body>
</html>